Django>=4.2,<5.0
djangorestframework>=3.14,<4.0
djangorestframework-simplejwt>=5.3,<6.0
psycopg2-binary>=2.9,<3.0
django-cors-headers>=4.0,<5.0
drf-yasg>=1.21,<2.0  # Pour la documentation de l'API
gunicorn>=21.0,<22.0  # Pour le déploiement 
